<!-- includeの書き方が動画と異なることに注意-->
<!-- 動画と同じようにしたい場合はgulp-ejsプラグインをインストールする必要がありそう-->
<% include('../header', {path: '../'}) %>
<h1>Posts</h1>
<ul>
	<% for (var i=0; i<posts.length; i++) { %>
		<li>
			<a href="/posts/<%= i %>"><%= posts[i].title %></a>
			<a href="/posts/<%= i %>/edit">[Edit]</a>
			<!-- formタグにonsubmit属性を付与する。trueの場合のみactionを実行させる。 -->
			<form method="post" action="/posts/<%= i %>?_method=DELETE" onsubmit="return delconfirm()">
				<input type="submit" value="del">
				<input type="hidden" name="_csrf" value="<%= csrftoken %>">
				<input type="hidden" name="id" value="<%= i %>">
			</form>
		</li>
	<% } %>
</ul>
<p><a href="/posts/new">Add new</a></p>
<br><br><br>
<h1>Twitter</h1>
<img src="<%= tweets[0].user.profile_image_url_https %>">
<%= tweets[0].user.name %>(@<%= tweets[0].user.screen_name %>)のタイムラインです<br>
最新の10件を取得しています
<table width=1000>
	<% for (var i=0; i<tweets.length; i++) { %>
		<tr>
			<td rowspan=2>　</td>
			<td style="text-align:center;">
				--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			</td>
		</tr>
		<tr>
			<td><%= tweets[i].text %></td>
		<tr>
	<% } %>
</table>
<script>
	function delconfirm(){
	    <!-- cinfirmで本当に削除するか確認する -->
	    if(confirm('記事を削除してよろしいですか？')){
	        <!-- OK押下でtureを返す。削除を実行することをalertで通知 -->
	        alert('削除を実行します');
	        return true;
	    } else {
	        <!-- キャンセル押下でfalseを返す。削除をキャンセルすることをalertで通知 -->
	        alert('キャンセルしました');
	        return false;
	    }
    };
</script>
<% include('../footer', {path: '../'}) %>