<% include ('../header' , {path: '../'}) %>
<h1>Posts</h1>
<ul>

    <% for (var i = 0; i<posts.length; i++) { %>
    <li>
        <a href = "/posts/<%= i %>"><%= posts[i].title %></a>
        <a href = "/posts/<%= i %>/edit">[Edit]</a>
        <form method="post" action="/posts/<%= i %>?_method=DELETE">
        <input type="submit" value="del" onclick="return confirmFunction()">
        <input type="hidden" name="_csrf" value="<%= csrftoken %>">
        <input type="hidden" name="id" value="<%= i %>">

        </form>
    </li>
    <% } %>
</ul>

<script>

    function confirmFunction() {
        var message = "削除しますか？";
        //「OK」ボタンをクリックした時
        if(confirm(message)) {
            alert( "削除しました。");
            return true;
        //「キャンセル」ボタンをクリックした時
        } else {
            alert( "削除をキャンセルしました。");
            return false;
        }
    }
</script>

<p><a href="/posts/new">Add new</a></p>

<h1>Twitter</h1>

<p>これは　<%= tweets[0].user.name %>　@(  <%= tweets[0].user.screen_name %> )　のタイムラインです</p>

<table width=1000>
<% for (var i = 0; i<tweets.length; i++) { %>
    <tr>
        <td rowspan="2">　</td>
        <td style="text-align: center;">--------------------------------</td>
    </tr>

    <tr>
        
        <td><%= tweets[i].text %></td>
    </tr>
<% } %>
</table>


<% include ('../footer' , {path: '../'}) %>
